.menu_container {
    background-color: var(--color-detail);
}

.menu_button {
    color: var(--color-dark);
}

.menu_button:hover {
    color: var(--color-gray);
}

.content {
    color: black;
}

.retractable_menu_button:hover {
    background-color: #2221215e;
    transition: 0.2s;
    border: 2px solid var(--color-focus);
}