.wpp_container {
    background-color: var(--color-dark);
    border: 2px solid var(--color-light);
}

.wpp_container:hover {
    background-color: var(--color-secondary-hover);
}

.wpp_container:focus {
    background-color: var(--color-secondary-hover);
}