.wpp_container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  box-shadow: rgb(0 0 0 / 36%) 0px 10px 30px;
}

.iconWpp svg {
  color: var(--color-light);
  width: 36px;
  height: 36px;
}

.wpp_container:hover {
  border: 2px solid var(--color-focus);
}

.wpp_container:focus {
  border: 2px solid var(--color-focus);
}
