.footer_container {
    background-color: var(--color-dark);
}

.footer_info p {
    color: var(--color-light);
    font-weight: 400;
}

.footer_icons svg {
    color: var(--color-light);
}

.footer_icons svg:hover {
    color: var(--color-detail);
}

.footer_icons a:focus {
    color: var(--color-detail);
}