.form_container {
    background-color: var(--color-dark);
    border-top: 1px solid var(--color-light);
    border-bottom: 1px solid var(--color-light);
}

.form {
    background-color: var(--color-light);
}

.submit_button {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.submit_button:hover {
    background-color: var(--color-secondary-hover);
    color: var(--color-light);
    border: 2px solid var(--color-focus);
}

.submit_button:focus {
    background-color: var(--color-secondary-hover);
    color: var(--color-focus);
}